# EditorConfig is awesome! http://editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Most codes uses tab to indent its code, but there're few exceptions
indent_style = tab
indent_size = 2

[js/textStrings.js]
indent_style = space
indent_size = 4
